html, body {
    height: 100%;
    outline: none;
    overflow: hidden;
  }
  
textarea {
  background: none;
  outline: 0;
  border: 0;
  font-size: 48px;
  height: 100%;
  width: 100%;
  padding: 0;
}